<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Grid</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

   <form action="/results" method="POST">
    <select id="textNumber" name="textNumber">
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
    </select>
    <input type="submit" value="submit">
</form>

</body>
</html>

