<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Results</title>
</head>
<body>
  <h2>Results</h2>

  <table>
        <tbody>
            <tr>
                <td style="background-color: #ab3c34;"><br />A3BC34<br /><span style="color:#ffffff;"> A3BC34</span></td>
                <td style="background-color: #247422;"><br />247422<br /><span style="color:#ffffff;"> 247422</span></td>
                <td style="background-color: #aabbcc;"><br />AABBCC<span style="color:#ffffff;">AABBCC</span></td>
            </tr>
            <tr>
                <td style="background-color: #173534;"><br />173534<span style="color:#ffffff;"> 173534</span></td>
                <td style="background-color: #1351ac;"><br />1351AC<span style="color:#ffffff;"> 1351AC </span></td>
                <td style="background-color: #547142;"><br />547142<span style="color:#ffffff;"> 547142</span></td>
            </tr>
            <tr>
                <td style="background-color: #ad2431;"><br />AD2431<span style="color:#ffffff;"> AD2431</span></td>
                <td style="background-color: #113344;"><br />11344<span style="color:#ffffff;">113344</span></td>
                <td style="background-color: #431241;"><br />431241<span style="color:#ffffff;"> 431241</span></td>
            </tr>
        </tbody>
    </table>


</body>
</html>
